*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(210, 36%, 96%);
}
.sidebar{
    border: none;
    position: absolute;
    right: 50px;
    top: 50px;
}
.sidebar i{
    font-size: 2rem;
    font-weight: 900;
    font-style: normal;
    line-height: 1;
    color: #49a6e9;
    cursor: pointer;
}
.navbar{
    background-color: #fff;
    width: 400px;
    height: 100vh;
    visibility: hidden;
}
.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 30px;
}
.logo i{
    color: hsl(360, 67%, 44%);
    font-weight: 900;
    font-size: 1.75rem;
    cursor: pointer;
}
.logo i:hover{
    animation: anime 0.5s linear;
}
@keyframes anime {
    100%{
        rotate: 360deg;
    }
}
.links ul{
    list-style: none;
    position: relative;
    top: 100px;
    left: 18px;
}
.links ul li{
    color: hsl(210, 22%, 49%);
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
}


